#mapid { display:inline-block; height: 500px; width:800px;}
#infobox{
    display: inline-block;
    border: 1px black solid;
    position: relative;
    height: 500px;
    overflow: hidden;
    width: 700px;
}